<nav class="main-nav">
    <img src="/assets/img/victorlin.jpg" alt="Victor Lin (drawn ByJennLy)" style="max-width: 150px; border-radius: 5px;">
    <div style="font-size: 12px; margin-top: 4px; margin-bottom: 40px;">
        <a href="https://www.etsy.com/shop/ByJennLy" target="_blank">drawn ByJennLy</a></div>
    <h3 class="nav-link"><a href="{{ "/" | relative_url  }}mashups/">Mashups</a></h3>
    <h3 class="nav-link"><a href="{{ "/" | relative_url  }}videos/">Videos</a></h3>
    <h3 class="nav-link"><a href="{{ "/" | relative_url  }}apps/">Apps</a></h3>
    <h3 class="nav-link"><a href="{{ "/" | relative_url  }}blog/">Blog</a></h3>
</nav>
